.signup-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .signup-modal {
    background-color: #fff;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: #FF5A5F;
    margin-bottom: 1em;
  }

  .signup-form {
    display: flex;
    flex-direction: column;
  }

  .form-field {
    margin-bottom: 1em;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 0.5em;
  }

  .signup-button {
    background-color: #FF5A5F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1em;
  }
  .signup-button:disabled {
    background-color: #ccc; /* Grey color */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    color: #666; /* Optional: Change text color for disabled state */
  }

  .signup-button:disabled:hover {
    border-color: #ccc; /* Remove highlight effect on hover */
  }

  .error-message {
    color: red;
    margin-top: 0.5em;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #FF5A5F;
  }

  input[type="text"]:hover,
  input[type="password"]:hover {
    border-color: #FF5A5F;
  }
