
  #root {
    max-width: 1000px; /* The maximum width of the content */
    margin: auto; /* This will center your app in the middle of the page */
    padding: 20px;
  }

  .spot-detail {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
  }

  /* Style for the main image */
  .main-image {
    width: 100%; /* Make the main image full width */
    object-fit: cover; /* Cover the space without stretching */
    border-radius: 5px;
    margin-bottom: 15px;
    max-height: 500px;
    max-width: 500px;

  }

  /* Style for the smaller images container */
  .small-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four images in a row */
    grid-gap: 10px;
  }

  /* Style for each smaller image */
  .small-images img {
    width: 100%;
    aspect-ratio: 1; /* Keep the images square */
    object-fit: cover; /* Cover the space without stretching */
    border-radius: 5px;
  }

  /* Style for spot information and reviews on the side */
  .callout-info, .reviews-section {
    background: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    color: black;
  }

  .review-header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the flex container */
    gap: 10px; /* Space between elements */
    margin-bottom: 10px; /* Space below the header */
}

  /* Reserve button styles */
  .reserve-button {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Style for the review section */
  .review {
    border-bottom: 1px solid #e1e1e1; /* Light grey border for each review */
    padding-bottom: 10px; /* Spacing after each review */
    margin-bottom: 10px; /* Spacing between reviews */
  }

  /* Media query for responsive adjustments */
  @media (max-width: 768px) {
    .small-images {
      grid-template-columns: repeat(2, 1fr); /* Two images in a row on smaller screens */
    }
  }

  /* Additional media queries can be added for further responsive adjustments */
