

.spot-tile {
    background-color: white;
    border: 1px solid #891515;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: inherit;
}

.spot-image {

    width: 100%;
    height: auto;
    border-radius: 5px;
}

.spot-info {

    padding: 10px 0;
}

.spot-rating {
    display: flex;
    align-items: center;
    color: gold;
}

.spot-rating .fa-star {
    margin-right: 5px;
}

.spot-price {

    font-weight: bold;
}
