/* Grid layout for spot tiles */
.spot-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Creates a responsive number of columns based on the screen width */
    grid-gap: 20px; /* Space between tiles */
    padding: 20px; /* Padding around the grid */
    justify-content: center;
    align-items: start; /* Aligns tiles to the top */
  }

  /* Style for each spot tile */
  .spot-tile {
    display: flex;
    flex-direction: column; /* Stack image and details vertically */
    align-items: center; /* Align children (image and text) in the center */
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-decoration: none;
  }

  /* Responsive image styles */
  .spot-thumbnail {
    width: 100%; /* Image takes the full width of its container */
    height: auto; /* Height is set automatically to maintain the aspect ratio */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    aspect-ratio: 4 / 3; /* Adjust the aspect ratio as needed */
  }

  .spot-info {
    color: black;
  }

  .fas.fa-star {
    color: gold
  }

  /* Style for the header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjust padding for header */
     /* Background color for the header */
  }

  #LpTitle {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
  }



  /* Responsive layout adjustments */
  @media (max-width: 768px) {
    .spot-list {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    header {
      flex-direction: column;
    }
  }
