/* TODO: Add sitewide styles */
.logo {
  padding-left: 20px;
  padding-top: 20px;
    height: 160px;
    width: 160px;
    border-radius: 16%;
    margin-top: 30px;
  }
  body {
    background-image: url("/CosmicBackground.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    background-color: #0e0c0c;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(110, 107, 107, 0.027); /* Semi-transparent white overlay */
    z-index: -1;
  }

  h1 {
    font-size: 68px;
    position: relative;
    left: 200px;
    top: -205px;
    margin-top: 40px;
    padding-left: 10px;
  color: white;
  }
